<form class="text-center border border-light p-5">
    <p class="h5 mb-4">Sign Up</p>
    <div class="row justify-content-center">
      <div class="col-md-3 mb-4">
        <input type="text" class="form-control form-control-lg mb-4" name="firstName" placeholder="First name" required>
        <input type="text" class="form-control form-control-lg mb-4" name="lastName" placeholder="Last name" required>
        <input type="email" class="form-control form-control-lg mb-4" name="email" placeholder="E-mail" required>
        <input type="password" class="form-control form-control-lg mb-4" name="password" placeholder="Password" required>
        <input type="text" pattern="[0-9]{11}" class="form-control form-control-lg mb-4" name="phone"  placeholder="Phone number" required>
        <small>Format: 01XXX1XXXX2,MAX:11 Digit</small><br><br>
        <button class="btn btn-primary" type="submit">Sign in</button>
      </div>
    </div>
  </form>
  

