<div class="d-flex justify-content-end p-2">
  <button class="btn btn-secondary text-bg-danger" (click)="logout()">Log out</button>
</div>

<div class="container">
    <h2 class="text-center">My Dashboard</h2>            
    <table class="table table-striped justify-content-center m-lg-3" >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">AGE</th>
          <th scope="col">COUNTRY</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employees | slice: (page-1) * pageSize : (page -1) * pageSize + pageSize">
          <td>{{e.id}}</td>
          <td>{{e.name}}</td>
          <td>{{e.age}}</td>
          <td>{{e.country}}</td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="employees.length"></ngb-pagination>

  </div>

  
